.contact-me {
  background-color: white;
  display: flex;
}

.contact-right-side {
    width: calc(50%);
    flex: 1;
    flex-direction: column;
  }
.contact-left-side {
    width: calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.linkedin-logo {
  size: 50px;
  flex: 1;
}

